<div class="container">
  <h1>Simulations#new</h1>
  <p>Find me in app/views/simulations/new.html.erb</p>

  <%= simple_form_for @simulation do |f| %>
    <%= f.input :type_of_property, collection: ['Maison avec toiture', 'Maison sanst toiture','industrie','Ferme','Villa','Appartement'], include_blank: false %>
    <%= f.input :region, collection: ['Tanger-Tétouan-Al Hoceima', 'Oriental','Fès-Meknès','Villa','Rabat-Salé-Kénitra','Beni Mellal-Khénifra','Casablanca-Settat','Marrakech-Safi', 'Drâa-Tafilalet','Souss-Massa','Guelmim-Oued Noun','Laâyoune-Saguia al Hamra', 'Dakhla-Oued Ed-Dahab'], include_blank: false %>
    <%= f.input :month_fst %>
    <%= f.input :month_scd %>
    <%= f.input :month_trd %>
    <%= f.input :month_fth %>
    <%= f.button :submit %>
  <% end %>
</div>
