<style>
  .container {
    border: 2px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .container:hover {
    border-color: #008000;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.5);
  }

  input[type="text"], select {
    transition: border-color 0.9s ease;
    border: 1px solid #ced4da;
  }

  input[type="text"]:focus, select:focus {
    border-color: #008000;
  }
</style>

<div class="container my-3 p-4 bg-white rounded" style="max-width: 800px;"> 
  <%= simple_form_for @simulation do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :type_of_property, collection: ['Maison avec toiture', 'Maison sans toiture', 'Industrie', 'Ferme', 'Villa', 'Appartement'], include_blank: false %>
      </div>
      <div class="col-md-6">
        <%= f.input :region, collection: ['Tanger-Tétouan-Al Hoceima', 'Oriental', 'Fès-Meknès', 'Villa', 'Rabat-Salé-Kénitra', 'Beni Mellal-Khénifra', 'Casablanca-Settat', 'Marrakech-Safi', 'Drâa-Tafilalet', 'Souss-Massa', 'Guelmim-Oued Noun', 'Laâyoune-Saguia al Hamra', 'Dakhla-Oued Ed-Dahab'], include_blank: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :month_fst %>
      </div>
      <div class="col-md-3">
        <%= f.input :month_scd %>
      </div>
      <div class="col-md-3">
        <%= f.input :month_trd %>
      </div>
      <div class="col-md-3">
        <%= f.input :month_fth %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-3 text-end">
        <%= f.button :submit, class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>
