<style>
  .card {
    transition: box-shadow 0.9s ease;
    border: 2px solid transparent;

  }
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
    border-color: #008000;
  }
</style>
<div class="container">
  <h1 class="text-center my-4 p-1">Our Solar Kits</h1>
  <div class="row">
    <% @solarkits.each do |solarkit| %>
      <div class="col-md-4">
        <div class="card my-2">
          <%= image_tag(solarkit.image) %>
          <div class="card-body" >
            <h5 class="card-title text-center">The Power of the solar kit :<br> <i><%= solarkit.power %> Wc </i></h5>
            <h5 class="card-text text-center">Minimum production :<br> <%= solarkit.min_production %> Wh/j </i></h5>
            <h5 class="card-text text-center">Maximum production :<br><%= solarkit.max_production %> Wh/j </i></h5>
            <h5 class="card-text text-center">The price of the solar kit :<br> <i><%= solarkit.price %> MAD </i></h5>
            <h5 class="card-text text-center">The price of Installation :<br><%= solarkit.installation_price %> MAD </i></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
