<style>
  .card {
    transition: box-shadow 0.9s ease;
    border: 2px solid transparent;
  }

  .card:hover {
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
    border-color: #008000;
  }
</style>

<div class="container mt-10">
  <h1 class="text-center my-4">Nos kits solaires</h1>
  <div class="row">
    <% @solarkits.each do |solarkit| %>
      <div class="col-md-4">
        <div class="card mb-2">
          <%= image_tag(solarkit.image) %>
          <div class="card-body">
            <h5 class="card-title text-center">Power is <%= solarkit.power %></h5>
            <h5 class="card-text text-center">Min_production is <%= solarkit.min_production %></h5>
            <h5 class="card-text text-center">Max_production is <%= solarkit.max_production %></h5>
            <h5 class="card-text text-center">Price is <%= solarkit.price %></h5>
            <h5 class="card-text text-center">Installation_price is <%= solarkit.installation_price %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
