<style>
  .card {
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
    transition: border-color 0.3s ease, box-shadow 0.9s ease;
  }

  .card:hover {
    border-color: #008000;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
  }
</style>

<div class="container mt-4 rounded">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag(@solarkit.image, class:"img-fluid rounded-start h-100", alt:"solarkit_image") %>
          </div>
          <div class="col-md-8 bg-white">
            <div class="card-body">
              <h1 class="card-title">Solarkit <%=@solarkit.id  %></h1>
              <p class="card-text"><strong>Power is</strong> <%= @solarkit.power %></p>
              <p class="card-text"><strong>Minimum production:</strong> <%= @solarkit.min_production %></p>
              <p class="card-text"><strong>Maximum production:</strong> <%= @solarkit.max_production %></p>
              <p class="card-text"><strong>Price is</strong> <%= @solarkit.price %></p>
              <p class="card-text"><small class="text-muted"><strong>Installation price is</strong> <%= @solarkit.installation_price %></small></p>
            </div>
            <div class="bg-success text-white p-3" data-controller="order" >
                <%= link_to "Click here to order your kit", root_path, class: "text-white", data: { action: "click->order#showAlert"}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
