<div class="container">
<ul>
<li>Power is <%= @solarkit.power %></li>
<li>min_production is <%= @solarkit.min_production %></li>
<li>max_production is <%= @solarkit.max_production %></li>
<li>price is <%= @solarkit.price %></li>
<li>installation_price is <%= @solarkit.installation_price %></li>
</ul>
</div>
