<% if report.daily_consumption <= 420 %>
    <div class="d-flex flex-column">
      <div>Minimum production is 429 Wh/day</div>
      <div>Maximum production is 1690 Wh/day</div>
      <div>Kit power is 525 Wc</div>
        <%= link_to "See your solar kit", solarkit_path(1), class: "btn btn-success my-3 " %>

    </div>
<% elsif report.daily_consumption <= 660 %> <%report.daily_consumption > 420 %>

    <div class="d-flex flex-column">
      <div>Minimum production is 670 Wh/day</div>
      <div>Maximum production is 2639 Wh/day</div>
      <div>Kit power is 820 Wc</div>
         <%= link_to "See your solar kit", solarkit_path(2), class: "btn btn-success my-3" %>
    </div>
<% elsif report.daily_consumption <= 1000 %> <%report.daily_consumption > 660 %>
    <div class="d-flex flex-column">
      <div>Minimum production is 1005 Wh/day</div>
      <div>Maximum production is 3959 Wh/day</div>
      <div>Kit power is 1230 Wc</div>
    <%= link_to "See your solar kit", solarkit_path(3), class: "btn btn-success my-3" %>
  </div>
<% elsif report.daily_consumption <= 1300 %> <%report.daily_consumption > 1000 %>
    <div class="d-flex flex-column">
      <div>Minimum production is 1339 Wh/day</div>
      <div>Maximum production is 1640 Wh/day</div>
      <div>Kit power is 1640 Wc</div>
    <%= link_to "See your solar kit", solarkit_path(4), class: "btn btn-success my-3" %>
  </div>
<% elsif report.daily_consumption <= 3000 %> <%report.daily_consumption > 1300 %>
    <div class="d-flex flex-column">
      <div>Minimum production is 3690 Wh/day</div>
      <div>Maximum production is 11878 Wh/day</div>
      <div>Kit power is 3690 Wc</div>
    <%= link_to "See your solar kit", solarkit_path(5), class: "btn btn-success my-3" %>
<% else %>

  <% flash[:notice] = "Contact us for more information" %>
  <% redirect_to contacts_new_path %>

<% end %>
  </div>
